/*UNIVERSAL STYLES*/

* {
    --border: 1px solid red;
}

body {
    font-size: 16px;
    background-color: white;
    color: rgb(68, 68, 68);
    font-family: 'Arial', 'Helvetica', sans-serif;
    padding-top: 64px;
    margin: 0;
    width: 100%;
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.flex-container {
    display: flex;
}

/*HEADER SECTION*/

header {
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    margin-right: 1rem;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    top: 0;
}

header .logo {
    height: 3rem;
    align-items: center;
    font-weight: bolder;
    margin-left: 1.5rem;
}

.logo img {
    height: 3rem;
}

.logo p {
    color: rgb(73, 73, 73);
    font-size: 1.5rem;
}

span {
    color: gray;
    font-weight: lighter;
}

header nav li {
    margin: 0 .5rem;
    font-size: 1.5rem;
}
.special {
    margin-right: 1.5rem;
}

/*Main Section*/

main {
    width: 100%;
}

/*BANNER*/

.banner {
    background-color: lightgray;
    align-items: center;
    width: 100%;

}

.banner img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

.banner .content {
    width: 25%;
    margin-left: 1.5rem;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.content h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 550;
    margin-bottom: 2rem;
}

.content div{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(68, 68, 68);
    color: seashell;
    padding: 1rem 0;
}

.button p {
    font-size: 1.5rem;
}

/*Featured Section*/

.featured {
    justify-content: left;
}

.featured .quote {
    width: 60%;
    padding: 2rem 1.5rem;
    border-right: 1.5px solid rgb(216, 216, 216);
}

.quote img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.quote p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    color: rgb(114, 114, 114);
}

#quoter {
    margin: 0;
}

.side-panel {
    margin: 1rem 0rem;
    width: 40%;
    overflow: hidden;
}

.sub-feature {
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid rgb(216, 216, 216);
}

.sub-feature div {
    margin-left: 1rem;
}

.sub-feature img {
    width: 35%;
    height: auto;
}

.sub-feature a {
    color: rgb(0, 136, 248);
    font-size: 1.2rem;
}

.sub-feature h3 {
    font-weight: 550;
    font-size: 2rem;
}

.sub-feature p {
    font-size: 1.4rem;
    margin: 2rem 0;
}

.sub-feature:hover {
    background-color: lightgray;
}

/*Courses section*/

.courses {
    background-color: lightgray;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3.5rem;
    padding-bottom: 2rem;
}

.courses h1 {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.courses .course {
    box-sizing: ;
    width: 30%;

    margin: 1rem 1rem;
    background-color: white;
}

.course img {
    width: 100%;
    height: auto;
}

.course h3 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.course .content {
    margin-left: 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.course .content p {
    font-size: 1.3rem;
    line-height: 2rem;
    padding: .5rem 0;
    color: gray;
}

/*Thesis section*/

.thesis {
    width: 100%;
    flex-direction: column;

}

.thesis h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.thesis .quote {
    width: 60%;
    margin: 1rem 1.5rem 2rem 1.5rem;
}

.quote video {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    border: lightgray;
}

.quote h3 {
    font-weight: bolder;
    font-size: 1.8rem;
    margin-bottom: 1rem
    ;
}

.thesis .quote p {
    margin: 0;
}

.thesis .side-panel {
    width: 40%;
}

.sub-thesis {
    display: flex;
    width: 100%;
    align-items: center;
}

.sub-thesis:hover {
    background-color: lightgray;
}

.sub-thesis img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.sub-thesis h3 {
    font-weight: 550;
    font-size: 2rem;
    line-height: 2.5rem;
}

.sub-thesis p {
    font-size: 1.3rem;
    margin: 2rem 0;
    margin-right: 3rem;
    line-height: 2rem;
    color: gray;
}

/*Footer*/

footer {
    padding: 1rem 1.5rem 4rem 1.5rem;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

footer li {
    margin-left: .5rem;
}